## DTD modules
AddType application/xml-dtd .dtd .mod
AddCharset iso-2022-jp .dtd .mod

AddType text/plain .dms .dds
AddCharset iso-2022-jp .dms .dds

## ECMAScript scripts
AddType text/javascript .js
AddCharset iso-2022-jp .js

## Perl script
## Use of this MIME type is a willful violation to the spec.
AddType text/perl .pl
AddCharset iso-2022-jp .pl

AddType application/xml .xml
AddCharset iso-2022-jp .xml

ReadmeName description
IndexIgnore *.tmp

Redirect 301 /www/markup/suikawiki http://suika.fam.cx/www/markup/suikawiki/
Redirect 301 /www/markup/selectors/ http://suika.fam.cx/www/markup/cssexts/selectors/
Redirect 301 /www/markup/xml http://suika.fam.cx/www/markup/xml/
Redirect 301 /www/markup/temma/macro https://github.com/wakaba/temma/blob/master/lib/Temma/Language.pod
Redirect 301 /www/markup/temma/msg https://github.com/wakaba/temma/blob/master/lib/Temma/Language.pod
Redirect 301 /www/markup/temma/perl https://github.com/wakaba/temma/blob/master/lib/Temma/Language.pod
Redirect 301 /www/markup/temma https://github.com/wakaba/temma/blob/master/lib/Temma/Language.pod

## License: Public Domain.
