## DTD modules
AddType application/xml-dtd .dtd .mod
AddCharset iso-2022-jp .dtd .mod

## ECMAScript scripts
AddType application/x-javascript .js
AddCharset iso-2022-jp .js

Redirect 301 /www/markup/selectors/ http://suika.fam.cx/www/markup/cssexts/selectors/

## License: Public Domain.
